src/multiconverter/xml/llmquestions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="https://github.com/Hananja/multiconverter"
           xmlns="https://github.com/Hananja/multiconverter">

    <!-- The comments are also used to inform AI LLM. Note that the less than and greater than symbols must be represented with the entities &lt; and &gt;. -->
    <xs:element name="questions">
        <xs:complexType>
            <xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element ref="multiple-choice-question"/>
                    <xs:element ref="fill-in-question"/>
                    <xs:element ref="map-question" />
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="multiple-choice-question">
        <!-- This question type presents a task in the <text> element. This can be one or more correct answers by selecting the correct ones from the <options>. -->
        <xs:complexType>
            <xs:sequence>
                <xs:element name="text" type="xs:string"/>
                <xs:element name="options">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="option" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="correct" use="required">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:enumeration value="true"/>
                                                        <xs:enumeration value="false"/>
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:attribute>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="fill-in-question">
        <!-- This question type presents an optional description in the <text> element. The <fill-in-text> element contains a task text that may contain gaps. These are marked with <fill> and must be filled in during the test. The correct possible alternatives for the answer are contained in <alt> tags within a <fill> element. -->
        <xs:complexType>
            <xs:sequence>
                <xs:element name="text" type="xs:string" minOccurs="0"/>
                <xs:element name="fill-in-text">
                    <xs:complexType mixed="true">
                        <xs:sequence>
                            <xs:element name="fill" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="alt" type="xs:string" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="map-question">
        <!-- This question type first has an explanatory text contained in the <text> element. This is followed by a list of <mapping> elements in the <mappings> element, each of which contains related texts in the <left> and <right> elements. Example: <map-question><text>Match the pairs.</text><mappings><mapping><left>1+1</left><right>=2</right></mapping><mapping><left>2+2</left><right>=4</right></mapping></mappings></map-question>  -->
        <xs:complexType>
            <xs:sequence>
                <!-- Explanatory text -->
                <xs:element name="text" type="xs:string"/>
                <!-- Container for one or more mappings -->
                <xs:element name="mappings">
                    <xs:complexType>
                        <xs:sequence>
                            <!-- Each mapping has exactly one left and one right -->
                            <xs:element name="mapping" minOccurs="2" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="left" type="xs:string"/>
                                        <xs:element name="right" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>

